{% extends 'base.html' %}
{% block div %}
    <div class="main">
        <div id="pricing" class="pricing-v2 details">
            <div class="container">
                <div class="row get-vehicle">
                    {% if register %}
                        <div class="col-md-offset-4 col-md-4 col-sm-6">
                            <div class="points-intro">
                                <h1 class="wow fadeInDown">Sign up</h1>
                            </div>
                            <form action="/register" method="POST">
                                {% csrf_token %}
                                <div class="banner-selects">
                                    <div class="details-input">
                                        <input type="text" name="firstname" placeholder="First Name" required>
                                    </div>
                                    <div class="details-input">
                                        <input type="text" name="lastname" placeholder="Last Name" required>
                                    </div>
                                    <div class="details-input">
                                        <input type="email" name="email" placeholder="Email" required>
                                    </div>
                                    <div class="details-input">
                                        <input type="password" name="password" placeholder="Password" required>
                                    </div>
                                    <div class="submit-button register-submit">
                                        <input type="submit" href="#" value="Sign up" class="btn btn-nav button-nav">
                                    </div>
                                </div>
                            </form>
                            <br>
                            {% if incorrect %}
                                <div class="details-input" style="padding-top: 10px;text-align: center">
                                    <p style="color: red">Email already exists</p>
                                </div>
                            {% endif %}
                            <div class="details-input" style="padding-top: 10px;text-align: center">
                                <a href="/login">Already registered? Sign in</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-4 col-sm-6 col-md-offset-4">
                            <div class="points-intro">
                                <h1 class="wow fadeInDown">Sign in</h1>
                            </div>
                            <form action="/login" method="POST">
                                {% csrf_token %}
                                <div class="banner-selects">
                                    <div class="details-input">
                                        <input type="email" name="email" placeholder="Email" required>
                                    </div>
                                    <div class="details-input">
                                        <input type="password" name="password" placeholder="Password" required>
                                    </div>
                                    <div class="submit-button register-submit">
                                        <input type="submit" href="#" value="Sign in" class="btn btn-nav button-nav">
                                    </div>
                                </div>
                            </form>
                            <br>
                            {% if incorrect %}
                                <div class="details-input" style="padding-top: 10px;text-align: center">
                                    <p style="color: red">Incorrect user/password</p>
                                </div>
                            {% endif %}
                            <div class="details-input" style="padding-top: 10px;text-align: center">
                                <a href="/register">Not a member yet? Sign up</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}