<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CSV Splitter</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700%7CRoboto:300,400,500%7CMuli:300,400"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/animate.css"> <!-- Resource style -->
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/owl.theme.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css"> <!-- Resource style -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/bootstrap-select.css">
    <script type="text/javascript" src="/static/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script>
    <script type="text/javascript" src="/static/js/validator.js"></script>
    <script type="text/javascript" src="/static/js/custom.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>
</head>
<body>
<div class="wrapper">
    {% if user.is_authenticated %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">CSV splitter</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <a class="btn btn-nav page-scroll wow fadeInDown" href="/logout"
                           data-wow-delay="0.3s"><span>Logout</span></a>
                    </ul>
                </div>
            </div>
        </nav><!-- /.navbar-collapse -->
    {% else %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">CSV splitter</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a class="page-scroll" href="#main">Home</a></li>
                        <li><a class="page-scroll" href="#services">Why Us</a></li>
                        <li><a class="page-scroll" href="#pricing">Price</a></li>
                        <li><a class="page-scroll" href="#">Faq</a></li>
                        <li><a class="page-scroll" href="#">Contact Us</a></li>
                        <a class="btn btn-nav page-scroll wow fadeInDown" href="/login"
                           data-wow-delay="0.3s"><span>Sign In</span></a>
                    </ul>
                </div>
            </div>
        </nav><!-- /.navbar-collapse -->
    {% endif %}
    <!-- /.navbar-collapse -->
    {% block div %} {% endblock %}
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="ft-left">
                        <p>Cu qui probo malorum saperet. Ne admodum apeirian iracundia usu, eam cu agam ludus,
                            eum munere accusam molestie ut. Alienum percipitur ne est, pri quando iriure ad. </p>

                        <p>&copy; 2017 All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-3">
                    <div class="ft-right">
                        <ul>
                            <li><a class="page-scroll" href="#main">Home</a></li>
                            <li><a class="page-scroll" href="#services">Why Us</a></li>
                            <li><a class="page-scroll" href="#pricing">Price</a></li>
                            <li><a class="page-scroll" href="#">Faq</a></li>
                            <li><a class="page-scroll" href="#">Contact Us</a></li>
                            <li><a class="page-scroll" href="#">Sign In</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- Main -->
<!-- Wrapper -->

</body>
</html>
