{% extends 'dashboard_layout.html' %}
{% block form %}
    <form action="/create/" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="col-sm-12 padding-vertical">
                <b>{{ field.label_tag }}</b> {{ field }}
            </div>
        {% endfor %}
        <div class="row padding-vertical">
            <input type="submit" value="Create project" class="btn btn-nav button-nav"/>
        </div>
    </form>
{% endblock %}
