{% extends 'base.html' %}
{% block div %}
    <div id="main" class="main">
        <div class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="submit-button register-submit">
                            <a href="create">Create project</a>
                        </div>
                        <div class="submit-button register-submit">
                            <a href="/upload">Upload files</a>
                        </div>
                        <div class="submit-button register-submit">
                            <a href="view">View my projects</a>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        {% block form %} {% endblock %}


                    </div>
                </div>
            </div>
        </div><!-- Pi-Hero -->

    </div>
{% endblock %}