{% extends 'base.html' %}
{% block div %}
    <div id="main" class="main">
        <div class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-8">
                        <img src="/static/images/sf_landing_hero_bg.jpg">

                        <h2 style="padding: 20px 0;">Mix and merge data any way you need.</h2>

                        <p style="padding: 20px 0;">Create your own data exchange automatically. With our project
                            loader you can take multiple .csv/txt files and combine into one file with custom outputs.
                            Files can then be scheduled automatically and sent to users FTP or performed manually. Your
                            ERP system will have a single point of data transfer.. Stop relying on outdated technology
                            and manual intervention try loading your project now.</p>
                    </div>
                    <div class="col-sm-5 col-md-4" style="text-align: center">
                        <h2 style="padding: 20px 10px;">Register below to start your project ! </h2>

                        <form action="/register" method="POST">
                            {% csrf_token %}
                            <div class="banner-selects">
                                <div class="details-input">
                                    <input type="text" name="firstname" placeholder="First Name" required>
                                </div>
                                <div class="details-input">
                                    <input type="text" name="lastname" placeholder="Last Name" required>
                                </div>
                                <div class="details-input">
                                    <input type="email" name="email" placeholder="Email" required>
                                </div>
                                <div class="details-input">
                                    <input type="password" name="password" placeholder="Password" required>
                                </div>
                                <img src="http://www.exceljunction.com/wp-content/uploads/2017/06/Combine-Multiple-Workbooks.png">

                                <div class="submit-button register-submit">
                                    <input type="submit" href="#" value="Start project" class="btn btn-nav button-nav">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <img src="http://www.futureofeverything.io/wp-content/uploads/2017/07/cloud-data-integration-990x651.jpg">
                    </div>
                </div>
            </div>
        </div><!-- Pi-Hero -->

    </div>
{% endblock %}