{% extends 'dashboard_layout.html' %}
{% block form %}
    {% if no_projects %}
        <div class="col-sm-12 padding-vertical">
            <p>No projects setup yet. Please create one.</p>
        </div>
    {% else %}
        <form action="/upload/" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="row">
                {% for field in form %}
                    <div class="col-sm-6 padding-vertical">
                        <b>{{ field.label_tag }}</b> {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="row padding-vertical">
                    <input type="submit" value="Upload" class="btn btn-nav button-nav"/>
                </div>
            </div>
        </form>

    {% endif %}
{% endblock %}
