{% extends 'dashboard_layout.html' %}
{% block form %}
    {% for project in projects %}
        <div class="col-sm-4 padding-vertical">
            <div style="border:solid;padding: 20px;">
                <span><strong>Title: </strong>{{ project.title }}</span>
                <br><br>
                <a href="/delete?pk={{ project.pk }}">Delete</a>
            </div>

        </div>

    {% endfor %}
{% endblock %}
